@import "../colors.scss";

.container {
    display: flex;
    border: solid 2px $gray-bright;
    border-radius: 10px;
    height: 40px;
    font-weight: 100;
    margin: 10px 0;
    align-items: center;
    cursor: default;
    & .btn_delete {
        margin: 0 12px;
        width: 25px;
        height: 25px; 
        background: url(../../assets/img/Delete.svg) no-repeat center;
    }
    & .btn_done, & .btn_not_done {
        margin: 0 12px;
        width: 25px;
        height: 25px;
        background: url(../../assets/img/Done.svg) no-repeat center;
    }
    & .btn_not_done{
        background: url(../../assets/img/Not_done.svg) no-repeat center;
    }
    & .text {
        flex-basis: 90%;
        line-height: 20px;
        font-size: 16px;
        font-weight: normal;
        color: $dark;
        & input{
            width: 100%;
            border: none;
            &:focus{
                outline: $gray-bright solid 2px;
            }
        }
    }

    & .date {
        font-weight: normal;
        flex-basis: 10%;
        line-height: 20px;
        color: $gray-dim;
    }

    & .btn_delete:hover, & .btn_not_done:hover{
        cursor: pointer;
        transform: scale(1.1);
    }
}
