@import "../colors.scss";

.container {
    display: flex;
    border: solid 2px $green-bright;
    border-radius: 20px;
    background: $gray-dim;
    height: 30px;

    & .btn_delete {
        font-weight: 900;
        color: rgb(223, 95, 10);
        margin: 0 5px;
    }
    & .btn_done {
        font-weight: 900;
        color: $green-bright;
        margin: 0 5px;
    }
    & .text {
        flex-basis: 70%;
        line-height: 26px;
        color: $white;
    }

    & .date {
        flex-basis: 20%;
        line-height: 26px;
        color: $white;
    }
}
