@import "../colors.scss";

.btn {
    border: solid 2px $green-bright;
    margin: 0 5px;
    border-radius: 20px;
    background: $gray-dim;
    p{
        margin: 0 5px;
        color: $green-bright;
    }
}
