@import "../colors.scss";

.container {
    display: flex;
    margin: 10px 0;
    width: 80%;
    height: 30px;
    justify-content: space-between;
    & .buttons {
        display: flex;
    }
    & .sorting_order {
        display: flex;
        .btn{
            color: $green-bright;
        }
        & p {
            margin-right: 5px;
            color: $white;
        }
    }
}
