@import "./colors.scss";

.input {
    width: 55%;
    border-radius: 10px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px $gray-bright;
    background: white;
    margin: 20px 0 10px 0;
    font-weight: 400;
    input {
        outline: none;
        height: 14px;
        width: 95%;
        background: none;
        border: none;
        color: $dark;
        &::-webkit-input-placeholder {
            color: $gray-bright;
        }
    }
}