@import "./colors.scss";

.container {
    display: flex;
    height: 40px;
    & .prev,
    & .next {
        margin: 0 10px;
        width: 40px;
        height: 40px;
        border-radius: 10px;
        cursor: pointer;
    }
    & .prev {
        background: url(../assets/img/Union_left.svg) no-repeat center $blue;
    }
    & .next {
        background: url(.././assets/img/Union_right.svg) no-repeat center $blue;
    }
    & .steps {
        border: solid 2px $gray-bright;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 40px;
        & .number {
            cursor: pointer;
            height: 30px;
            width: 30px;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            &.selected {
                background: $blue;
            }
        }
        & :last-child {
            margin-right: 5px;
        }
        & :first-child {
            margin-left: 5px;
        }
        & .number:hover {
            border: 2px solid $blue;
        }
    }
}
